* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(250, 224, 209);
}

h1 {
    width: 800px;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    background: linear-gradient(rgb(255, 42, 42), rgb(128, 0, 0), rgb(255, 81, 0));
    border-radius: 40px;
    color: white;
    text-align: center;
    padding: 5px;
    text-shadow: 5px 5px black;
}

#geral {
    margin: 0 auto;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    width: 700px;
    height: 650px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: center;
    background-color: rgb(241, 236, 236);
}

#botao {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 1px solid gray;
    background-color: rgb(134, 6, 6);;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    position: absolute;
    margin-top: 240px;
    margin-right: 850px;
    box-shadow: 5px 5px 5px black;
}

#botao:hover {
    background-color: rgb(187, 49, 49);
}

.carro, .cachorro,
.ave, .caranguejo, .planeta,
.aviao, .planta, .vaca, .leao,
.peixe, .gato, .bike, .sempar {
    width: 100px;
    height: 100px;
    margin: 15px;
    border-radius: 10px;
    background: rgb(148, 10, 10);
    box-shadow: 10px 5px 5px black;
}

.bike:hover {
    background: url(jogo-memoria-imagens/interrogacao.png) no-repeat center;
}

.carro:hover {
    background: url(jogo-memoria-imagens/interrogacao.png) no-repeat center;
}

.cachorro:hover {
    background: url(jogo-memoria-imagens/interrogacao.png) no-repeat center;
}

.ave:hover {
    background: url(jogo-memoria-imagens/interrogacao.png) no-repeat center;
}

.caranguejo:hover {
    background: url(jogo-memoria-imagens/interrogacao.png) no-repeat center;
}

.planeta:hover {
    background: url(jogo-memoria-imagens/interrogacao.png) no-repeat center;
}

.planta:hover {
    background: url(jogo-memoria-imagens/interrogacao.png) no-repeat center;
}

.vaca:hover {
    background: url(jogo-memoria-imagens/interrogacao.png) no-repeat center;
}

.leao:hover {
    background: url(jogo-memoria-imagens/interrogacao.png) no-repeat center;
}

.aviao:hover {
    background: url(jogo-memoria-imagens/interrogacao.png) no-repeat center;
}

.peixe:hover {
    background: url(jogo-memoria-imagens/interrogacao.png) no-repeat center;
}

.gato:hover {
    background: url(jogo-memoria-imagens/interrogacao.png) no-repeat center;
}

.sempar:hover {
    background: url(jogo-memoria-imagens/interrogacao.png) no-repeat center;
}

.revela1, .revela2, .revela3,
.revela4, .revela5, .revela6,
.revela7, .revela8, .revela9, 
.revela10, .revela11, .revela12,
.revela13, .revela14, .revela15,
.revela16, .revela17, .revela18,
.revela19, .revela20, .revela21,
.revela22, .revela23, .revela24, 
.revela25 {
    width: 100px;
    height: 100px;
    border: 1px solid rgb(236, 164, 164);
    border-radius: 20px;
    margin: 15px;
    transition: 1s;
}

.revela3, .revela8 {
    background: url(jogo-memoria-imagens/carro.png) no-repeat center;
}

.revela1, .revela4 {
    background: url(jogo-memoria-imagens/bike.png) no-repeat center;
}

.revela2, .revela9 {
    background: url(jogo-memoria-imagens/cachorro.png) no-repeat center;
}

.revela25, .revela11 {
    background: url(jogo-memoria-imagens/gato.png) no-repeat center;
}

.revela13, .revela18 {
    background: url(jogo-memoria-imagens/caranguejo.png) no-repeat center;
}

.revela5, .revela7 {
    background: url(jogo-memoria-imagens/peixe.png) no-repeat center;
}

.revela10, .revela24 {
    background: url(jogo-memoria-imagens/ave.png) no-repeat center;
}

.revela6, .revela12 {
    background: url(jogo-memoria-imagens/planeta.png) no-repeat center;
}

.revela14, .revela19 {
    background: url(jogo-memoria-imagens/leao.png) no-repeat center;
}

.revela15, .revela17 {
    background: url(jogo-memoria-imagens/vaca.png) no-repeat center;
}

.revela20, .revela21 {
    background: url(jogo-memoria-imagens/planta.png) no-repeat center;
}

.revela22, .revela23 {
    background: url(jogo-memoria-imagens/aviao.png) no-repeat center;
}

.revela16 {
    background: url(jogo-memoria-imagens/sempar.png) no-repeat center;
}

#rodape {
    color: rgb(6, 0, 56);
    background-color: rgb(230, 230, 230);
    width: 800px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    text-align: center;
    padding: 3px;
    margin-top: 40px;
}
